accurics_report_terrascan.html
accurics_report_terrascan.json
.DS_Store
Demo_File.cfg
.vscode/settings.json
accurics_report.html
.terraform.lock.hcl
.gitignore
accurics_report.json
.terraform/providers/registry.terraform.io/hashicorp/aws/4.21.0/darwin_arm64/terraform-provider-aws_v4.21.0_x5
tf.plan
.terraform.tfstate.lock.info
terraform.tfstate.backup
1656903516325.json
1656970374066-temp.tfstate
1656970374066.json
